
:host {
    display: block;
    background-color: brown;
    color: beige;
    padding: 1rem;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

address, p {
    text-align: center;
}