<h2>Busqueda de libros en Google usando nuestro servicio</h2>
<input type="text" name="" placeholder="Clave de busqueda"
    [(ngModel)]="clave">
<div>
    <button (click)="onBuscar()">Buscar</button>
</div>
<div *ngIf="libros.length">
    <h2>Resultados</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>Autores</td>
            <td>Titulo</td>
        </tr>
        <tr *ngFor="let item of libros">
            <td>{{item.id}}</td>
            <td>{{item.autores}}</td>
            <td>{{item.titulo}}</td>
        </tr>
    </table>
</div>
<div>
    {{ msgError }}
</div>
